
.vs/360BallTracking/FileContentIndex/076a5cd2-ba79-4a4c-8d9f-485792f6bdb6.vsidx
.vs/360BallTracking/FileContentIndex/read.lock
.vs/360BallTracking/v17/.suo
*.db
.vs/ProjectSettings.json
*.sqlite
.vs/VSWorkspaceState.json
.vscode/settings.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.vscode/settings.json
.vscode/settings.json
*.opendb
*.db-wal
*.ipch
*.json
*.obj
